[submodule "externals/Co-DETR"]
	path = externals/Co-DETR
	url = https://github.com/Sense-X/Co-DETR.git
[submodule "externals/grounded_sam2"]
	path = externals/grounded_sam2
	url = https://github.com/IDEA-Research/Grounded-SAM-2.git
